 # Copyright 2021 Intel Corporation All Rights Reserved.
 # SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Vision Agent Service
Requires=network.target mqtt.service
After=mqtt.service

[Service]
# ExecStart command is only run when everything else has loaded
Type=idle
User=vision-agent
Environment='LOGGERCONFIG=/etc/intel-manageability/public/vision-agent/logging.ini'
Environment='XLINK_SIMULATOR=False'
EnvironmentFile=-/etc/intel-manageability/public/mqtt.environment
PermissionsStartOnly=true
ExecStartPre=/usr/bin/vision-pre-exec-script
ExecStart=/usr/bin/vision
RestartSec=5s
Restart=on-failure
WorkingDirectory=/lib/systemd/system/
Group=vision-agent

[Install]
WantedBy=multi-user.target
