{
    "mqtt": {
        "username": "{TOKEN}",
        "hostname": "{HOSTNAME}",
        "port": {PORT}
    },
    "tls": {
        "version": "TLSv1.2",
        "certificates": "{CA_PATH}"
    },
    "x509": {
        "device_cert": "{CLIENT_CERT_PATH}"
    },
    "event": {
        "pub": "v1/devices/me/telemetry",
        "format": "{ \"ts\": \"{ts}\", \"values\": {\"event\": \"{value}\"}}"
    },
    "telemetry": {
        "pub": "v1/devices/me/telemetry",
        "format": "{ \"ts\": \"{ts}\", \"values\": {\"{key}\": \"{value}\"}}"
    },
    "attribute": {
        "pub": "v1/devices/me/attributes",
        "format": "{ \"{key}\": \"{value}\" }"
    },
    "method": {
        "pub": "v1/devices/me/rpc/response/{request_id}",
        "format": "\"{timestamp}: {message}\"",
        "sub": "v1/devices/me/rpc/request/+",
        "parse": {
            "single": {
                "request_id": {
                    "regex": "v1\\/devices\\/me\\/rpc\\/request\\/([0-9]+)",
                    "group": 1
                },
                "method": {
                    "path": "method"
                },
                "args": {
                    "path": "params"
                }
            }
        }
    }
}
