.vscode/
.idea
*.swp
venv
dist
*.rpm
vscode-bitbake-build
tmp-*
build-input.tgz
output/
x86-64_rpms/
arm_rpms/
paho.mqtt.python/
**/__pycache__
**/*.pyc
**/.noseids
**/.mypy_cache/
.coverage
.coveragerc
**/.pytype/
**/cover/
output-check/
output-yocto-tgz/
output-main/
output-windows/
tmp.Dockerfile*
