[Unit]
Description=INBM Daemon Service
Requires=network.target

[Service]
# ExecStart command is only run when everything else has loaded
Type=idle
User=root
EnvironmentFile=-/etc/environment
ExecStart=/usr/bin/inbd -s /var/run/inbd.sock
RestartSec=5s
Restart=on-failure
WorkingDirectory=/etc/systemd/system/
Group=inbd

[Install]
WantedBy=multi-user.target