#Production

psutil==5.9.5
types-psutil==5.9.5.17
cryptography==42.0.2
jsonschema==4.20.0
types-jsonschema==4.20.0.0
shortuuid==1.0.1
requests==2.31.0
urllib3==1.26.18
certifi==2023.7.22
pyinstaller==5.13.1
setuptools==65.5.1
future==0.18.3
