#Production

cryptography==44.0.1
jsonschema==4.20.0
types-jsonschema==4.20.0.0
shortuuid==1.0.13
requests==2.32.2
urllib3==1.26.20
certifi==2024.8.30
pyinstaller==6.11.0
setuptools==78.1.1
untangle==1.2.1
APScheduler==3.10.4
