#Production

cryptography==43.0.1
jsonschema==4.20.0
types-jsonschema==4.20.0.0
shortuuid==1.0.1
requests==2.32.2
urllib3==1.26.19
certifi==2024.07.04
pyinstaller==5.13.1
setuptools==70.0.0
untangle==1.2.1
APScheduler==3.10.4
