 # Copyright 2021 Intel Corporation All Rights Reserved.
 # SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Manageability Autoenable
# Automatically provision/enable/start Intel(R) Manageability components based
# on runtime system detection, if not already enabled.

[Service]
# Simple is necessary to prevent blocking mqtt
Type=simple
ExecStart=manageability-autoenable
# This will be run once, and only once, on boot or runlevel change.
Restart=no

[Install]
WantedBy=multi-user.target
