 # Copyright 2019-2022 Intel Corporation All Rights Reserved.
 # SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Node Agent Service
After=mqtt.service

[Service]
# ExecStart command is only run when everything else has loaded
Type=idle
User=node-agent
Environment='LOGGERCONFIG=/etc/intel-manageability/public/node-agent/logging.ini'
Environment='XLINK_SIMULATOR=False'
EnvironmentFile=-/etc/intel-manageability/public/mqtt.environment
PermissionsStartOnly=true
ExecStartPre=/usr/bin/node-key-cert-generated
ExecStart=/usr/bin/inbm-node
RestartSec=5s
Restart=on-failure
WorkingDirectory=/lib/systemd/system/
Group=node-agent

[Install]
WantedBy=multi-user.target
