 # Copyright 2021 Intel Corporation All Rights Reserved.
 # SPDX-License-Identifier: Apache-2.0

[Install]
WantedBy=multi-user.target


[Unit]
Description=Dummy csl-agent Service
[Service]
WorkingDirectory=/usr/bin/
User=root
Type=idle
ExecStart=/usr/bin/python /usr/bin/test.py &> /dev/null
Restart=always
[Install]
WantedBy=multi-user.target

