{
    "mqtt": {
        "client_id": "{CLIENT_ID}",
        "username": "{TOKEN}",
        "hostname": "{HOSTNAME}",
        "port": {PORT}
    },
    "tls": {
        "version": "TLSv1.2",
        "certificates": "{CA_PATH}"
    },
    "x509": {
        "device_cert": "{CLIENT_CERT_PATH}",
        "device_key": "{CLIENT_KEY_PATH}"
    },
    "proxy": {
        "hostname": "{PROXY_HOSTNAME}",
        "port": {PROXY_PORT}
    },
    "event": {
        "pub": "TopicTelemetryInfo/{CLIENT_ID}",
        "format": "{ \"ts\": \"{ts}\", \"values\": {\"telemetry\": \"{value}\"}}"
    },
    "telemetry": {
        "pub": "",
        "format": ""
    },
    "attribute": {
        "pub": "",
        "format": ""
    },
    "method": {
        "pub": "TopicRemoteCommands/response/{request_id}",
        "format": "\"{timestamp}: {message}\"",
        "sub": "TopicRemoteCommands/{CLIENT_ID}"
    }
}
