{
    "mqtt": {
        "client_id": "{CLIENT_ID}",
        "username": "{TOKEN}",
        "hostname": "{HOSTNAME}",
        "port": {PORT}
    },
    "proxy": {
        "hostname": "{PROXY_HOSTNAME}",
        "port": {PROXY_PORT}
    },
    "event": {
        "pub": "TopicTelemetryInfo/{CLIENT_ID}",
        "format": "{ \"ts\": \"{ts}\", \"values\": {\"telemetry\": \"{value}\"}}"
    },
    "telemetry": {
        "pub": "",
        "format": ""
    },
    "attribute": {
        "pub": "",
        "format": ""
    },
    "method": {
        "pub": "TopicRemoteCommands/response/{CLIENT_ID}",
        "format": "\"{timestamp}: {message}\"",
        "sub": "TopicRemoteCommands/{CLIENT_ID}"
    }
}
