{
    "mqtt": {
        "username": "{TOKEN}",
        "hostname": "{HOSTNAME}",
        "port": {PORT}
    },
    "event": {
        "pub": "TopicTelemetryInfo",
        "format": "{ \"ts\": \"{ts}\", \"values\": {\"telemetry\": \"{value}\"}}"
    }
}
