{
    "mqtt": {
        "client_id": "{CLIENT_ID}",
        "username": "{TOKEN}",
        "hostname": "{HOSTNAME}",
        "port": {PORT}
    },
    "tls": {
        "version": "TLSv1.2",
        "certificates": "{CA_PATH}"
    },
    "x509": {
        "device_cert": "{CLIENT_CERT_PATH}",
        "device_key": "{CLIENT_KEY_PATH}"
    },
    "proxy": {
        "hostname": "{PROXY_HOSTNAME}",
        "port": {PROXY_PORT}
    },
    "event": {
        "pub": "uccctl/tel/req/{SERVER_ID}/{CLIENT_ID}",
        "format": "{raw_value}"
    },
    "telemetry": {
        "pub": "",
        "format": ""
    },
    "attribute": {
        "pub": "",
        "format": ""
    },
    "method": {
        "pub": "uccctl/cmd/res/{SERVER_ID}/{CLIENT_ID}",
        "format": "OK",
        "sub": "uccctl/cmd/req/{SERVER_ID}/{CLIENT_ID}"
    }
}
