.vscode/
.idea
*.swp
**/*.swp
venv
dist
*.rpm
vscode-bitbake-build
tmp-*
build-input.tgz
output/
x86-64_rpms/
arm_rpms/
paho.mqtt.python/
**/__pycache__
**/*.pyc
**/.noseids
**/.mypy_cache/
.coverage
**/.pytype/
./scratch-packaging/
output-windows/
output-check/
output-main/
output-yocto-tgz/
tmp.Dockerfile*
